.sales-form-section {
  background-color: #93a2b4; /* Light army green */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 400px;
  position: relative;
  color: white;

  @media only screen and (max-width: 600px) {
    width: 100%; /* Occupy full width on mobile */
    margin: 0 auto; /* Remove unnecessary margin */
    padding: 15px; /* Adjust padding for smaller screens */

    /* Use flexbox for vertical stacking */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
  }
}

.sales-form-section label {
  margin-bottom: 5px;
  color: #667584; /* Darker army green */
  display: block;
}

.sales-form-section select,
.sales-form-section input {
  width: 100%;
  padding: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;

  @media only screen and (max-width: 600px) {
    width: 80%; /* Adjust width as needed */
    font-size: 16px; /* Increase font size for readability */
  }
}

.sales-form-section button {
  background-color: #72b33a; /* Darker army green */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;

  @media only screen and (max-width: 600px) {
    width: 100%; /* Full width button on mobile */
  }
}